body{
  width: 100%;
}
.heading-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.head {
  letter-spacing: 6px;
  margin: 0px;
  margin-top: 20px;
}
#start,
#search {
  background-color: rgb(46, 8, 46);
  color: white;
  border: 2px;
  padding: 8px;
  margin: 8px;
}
#start:hover,
#search:hover {
  background-color: purple;
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: center;
}
.btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#search-box {
  margin-top: 10px;
  padding: 5px;
  width: 400px;
  justify-content: center;
  border-radius: 20px;
  border-style: solid;
}
.search-icon{
  width: 15px;
  margin-left: 10px;
  margin-top: 10px;
}
.half{
  background-image: url("./images/globe-2.jpg");
  height: 250px;
}
.countries button{
  padding: 20px;
  margin: 15px;
  border-style: solid;
  background-image: url("./images/map_image.jpg");
  background-size: cover;
  background-position: center;
  font-size: 20px;
}
