.name{
  color: rgb(50, 49, 49);
  font-size: 50px;
  letter-spacing: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
#textField{
  border: none;
  background-color: rgb(220, 189, 194);
  font-size: 20px;
  padding: 30px;
  width: 1100px;
}
.description{
  font-family: arial;
  color: rgb(56, 55, 55);
  font-size: 19.5px;
}
body{
  margin-left: 80px;
  margin-right: 80px;
}
.btn1{
  margin-left: 40px;
  border: none;
  font-size: 20px;
  font-family: "Arial";
  max-width: 220px;
  padding: 20px;
}
.btn1:hover{
  padding: 40px 40px;
  border: none;
  background-color: rgb(248, 210, 216);
  max-width: 240px;
}
.btn2{
  margin-left: 120px;
  border: none;
  font-size: 20px;
  font-family: "Arial";
  max-width: 260px;
  padding: 20px;
}
.btn2:hover{
  padding: 40px 40px;
  border: none;
  background-color: rgb(248, 210, 216);
  max-width: 280px;
}
.btn3{
  margin-left: 120px;
  border: none;
  font-size: 20px;
  font-family: "Arial";
  max-width: 300px;
  padding: 20px;
}
.btn3:hover{
  padding: 40px 40px;
  border: none;
  background-color: rgb(248, 210, 216);
  max-width: 320px;
}
#subj{
  border: none;
  font-size: 40px;
}
.foot{
  font-size: 20px;
}